[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "prcbench"]
	path = prcbench
	url = https://github.com/evalclass/prcbench
	shallow = true
	registered = true
[submodule "precrec"]
	path = precrec
	url = https://github.com/evalclass/precrec
	shallow = true
	registered = true
