[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "prcbench"]
	path = prcbench
	url = https://github.com/evalclass/prcbench
[submodule "precrec"]
	path = precrec
	url = https://github.com/evalclass/precrec
